import allure
import pytest
import pydash
from utils.restClient import RequestClient
from {{casePath}} import dataCases

@allure.severity(getattr(allure.severity_level, dataCases['severityLevel']))
@allure.feature(dataCases['feature'])
class {{funcNameSpace}}PageAPI:
    {% for caseItem in casesList -%}
    {%- if caseItem.runPro == "true" %}
    @pytest.mark.runALL
    {%- endif %}
    @allure.story("{{caseItem.title}}")
    def test{{funcNameSpace}}Case{{loop.index}}(self):
        res = RequestClient.request(
            method=dataCases['method'],
            path=dataCases['path'],
            {%- if caseItem.pathParams %}
            pathParams=dataCases["casesList"][{{loop.index-1}}]['pathParams'],
            {%- endif %}
            data=dataCases["casesList"][{{loop.index-1}}]['data'],
        )

        if 'header' in dataCases['casesList'][{{loop.index-1}}]['expected']:
            exceptHeaderResult = dataCases['casesList'][{{loop.index-1}}]['expected']['header']
            resHeaderData = res["header"]
            del resHeaderData["traceId"]
            assert resHeaderData == exceptHeaderResult

        if 'body' in dataCases['casesList'][{{loop.index-1}}]['expected']:
            exceptBodyResult = dataCases['casesList'][{{loop.index-1}}]['expected']['body']
            restBoyData = pydash.pick(res["body"], pydash.keys(exceptBodyResult) )
            assert exceptBodyResult == restBoyData
    {%endfor%}
